*html {
    height: 100%;
    width: 100%;
}

/*MENU VISIVEIS*/
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul {
    list-style: none;
}

.menu li {
    width: 180px;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
    border-bottom: rgb(148, 107, 87) 1px inset;
}

.menu li ul {
    width: 180px;
    height: auto;
    padding: 0;
    margin: 0;
    border-left: rgb(148, 107, 87) CCCCC 1px inset;
    display: none;
    position: absolute;
    left: 180px;
    top: 0;
}

/*nível inferior do menu com display: none*/

.menu a {
    display: block;
    text-decoration: none;
    padding: 7px;
    background-color: rgb(234, 228, 223);
    ;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: rgb(148, 107, 87);
    font-weight: bolder;
}

.menu a:hover {
    background-color: rgb(234, 228, 223);
    text-decoration: none;
    color: black
}

/* para o IE não criar margens*/
* html ul li {
    float: left;
    height: 1%;
}

* html ul li a {
    height: 1%;
}

/*End */

.menu li:hover ul,
li.over ul {
    display: block;
}

/*mostra nível inferior ao passar o cursor*/
.menu li.btnultimo {
    border-bottom: none;
}


/* fundo pagina*/


html body {
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    /* tamanho da fonte */
    font-style: century ghotic italic;
    /* estilo */
    color: rgb(80, 78, 78);
    /* cor do texto */
    text-align: left;
    /* alinhamento */
    background-color: rgb(234, 228, 223);
    color: rgb(148, 107, 87);
    font-weight: bolder;
}

#conteiner {
    width: 98%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "cabecalho cabecalho"
        "menu menu"
        "secao secao";
}

header {
    grid-area: cabecalho;
    /*background-color: brown;*/
}

aside h1 {
    grid-area: menu;
    text-align: center;     
    
}

aside {
    grid-area: menu;
    width: 98%;
    justify-self: start;
    margin-left: 1%;
    margin-bottom: 5%;
    /*background-color: darkcyan;*/
}

#conteudo {
    grid-area: secao;
    text-align: center;
    margin-left: 14.75%;
    margin-right: 1%;
    
}

.th,td,tr {
    font-style: normal century ghotic italic;
    font-size: 10pt;
    margin-top: -50%;
    
    /*background-color: blueviolet;*/
}

#busca input {
    height: 30px;
    width: 500px;
    border-radius: 5px;
    border: 2px solid rgb(234, 228, 223);
    margin-bottom: 2px;
    
}

.material-symbols-outlined {
    margin-right: 592px;
    padding-bottom: 2%;
}