
*html {
   height: 100%;
   width: 100%;

}

/*MENU VISIVEIS*/
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul {
    list-style: none;
}

.menu li {
    width: 180px;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
    border-bottom: rgb(148, 107, 87) 1px inset;
}

.menu li ul {
    width: 180px;
    height: auto;
    padding: 0;
    margin: 0;
    border-left: rgb(148, 107, 87) CCCCC 1px inset;
    display: none;
    position: absolute;
    left: 180px;
    top: 0;
}

/*nível inferior do menu com display: none*/

.menu a {
    display: block;
    text-decoration: none;
    padding: 7px;
    background-color: rgb(234, 228, 223);
    ;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: rgb(148, 107, 87);
    font-weight: bolder;
}

.menu a:hover {
    background-color: rgb(234, 228, 223);
    text-decoration: none;
    color: black
}

/* para o IE não criar margens*/
* html ul li {
    float: left;
    height: 1%;
}

* html ul li a {
    height: 1%;
}

/*End */

.menu li:hover ul,
li.over ul {
    display: block;
}

/*mostra nível inferior ao passar o cursor*/
.menu li.btnultimo {
    border-bottom: none;
}


/* fundo pagina*/


html body {
   padding: 0;
   margin: 0;
   font-size: 1.3rem;
   /* tamanho da fonte */
   font-style: century ghotic italic;
   /* estilo */
   color: rgb(80, 78, 78);
   /* cor do texto */
   text-align: left;
   /* alinhamento */
   background-color: rgb(234, 228, 223);
   color: rgb(148, 107, 87);
   font-weight: bolder;
}

#conteudo form input {
   height: 30px;
   width: 300px;
   border-radius: 5px;
   border: 2px solid rgb(234, 228, 223);
   margin-left: 30px;
   margin-top: 15px;
   margin-bottom: 2px;
}

.botao {
   background-color: rgb(148, 107, 87);
   border: 1px solid rgb(234, 228, 223);
   color: white;
   font-size: 10pt;
   
}

form select {
   border-radius: 5px;
   margin-left: 30px;
   width: 300px;
   border: 1px solid rgb(234, 228, 223);
}

#conteiner {
   width: 98%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: auto;
   grid-template-areas:
      "cabecalho cabecalho"
      "menu menu"
      "secao secao";
}

header {
   grid-area: cabecalho;  
   
   /*background-color: brown;*/
}

header h1 {
   text-align: center;
   margin-top: -5%;
   margin-bottom: 5%;   
}

aside {
   grid-area: menu;
   justify-self:  start; 
   /*background-color: darkcyan;*/
}

#conteudo {
   grid-area: secao;   
   width: 50%;
   text-align: right;
   margin-left: 13%;
   margin-top: -5.8%;
   
   /*background-color: wheat;*/
}

#conteudo h1 {
   text-align: right;
   font-size: 12pt;
}